#login-title {
  margin-bottom: 60px;
}
#new-user-title {
  margin-bottom: 40px;
}
#gender {
  margin-top: 10px;
}
#setup-account {
  margin-top: 95px;
}
#create-title {
  margin-left:85px;
}
#new-user-form {
  margin-left:100px;
}
#new-user-div {
  margin-top: 120px;
}
/*#month {

}*/
#day {
  margin-left: 40px;
  margin-right: 30px;
}
/*#year{

}*/
