#groups-onload {
  display: inline;
}
#view {
  margin-top: 35px
}
#add-group {
  height: 246px;
  width: 200px;
  float: left;
}
#groups-list img {
  max-width: 100%;
}
#groups-list div {
  padding: 0;
  width: 200px;
  float: left;
}
#login-title {
  margin-bottom: 60px;
}
#new-user-title {
  margin-bottom: 40px;
}
#gender {
  margin-top: 10px;
}
#setup-account {
  margin-top: 95px;
}
#create-title {
  margin-left:85px;
}
#new-user-form {
  margin-left:100px;
}
#new-user-div {
  margin-top: 120px;
}
#day {
  margin-left: 40px;
  margin-right: 30px;
}
#dashboard {
  margin-top: 40px;
}
